
<div class="cells" id=<%="cells".concat(@j.to_s)%>>
	<% 9.times do |i| %>

		<%if @puzzle.cells[@j][i] == '.'%>
			<div class="unknown cell"><input type="text"></input></div>
		<% else %>
			<div class="fix cell"><%= @puzzle.cells[@j][i] %></div>
		<% end %>

	<%end%>
</div>
