

<div id="container">
	<div id="top-nav">
		<div id="subscribe">
			<input id="subscribe-ipt" value="Enter your email here"/>
			<a id="subscribe-link" href="#">Subscribe</a>
		</div>
	</div><!--#top-nav-->
	<div id="header" class="clearfix">
		<div id="logo">
			<img src="../../images/logo.png" alt="Seemeloo" />
		</div><!--#logo-->
		<ul id="menu">
			<li><a id="menu-home" href="#"><span></span>Hello World!</a></li>
			<li><a id="menu-work" class="current" href="#"><span></span>Work</a></li>
			<li><a id="menu-contact" href="#"><span></span>Contact</a></li>
			<li><a id="menu-blog" href="#"><span></span>Blog</a></li>
		</ul><!--#menu-->
	</div><!--#header-->
	<div id="main">
		<div id="soduku-description">
			<h1 id="soduku-title">Sudoku</h1>
			<div id="share-buttons">
				
				<iframe src="//www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=standard&amp;width=300&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=30" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:30px;float:right;" allowTransparency="true"></iframe>
				<iframe allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/tweet_button.html?count=none&amp;related=seemeloo" style="width:60px; height:20px;padding:2px 5px 0 0;float:right;"></iframe>
			</div>
			<p>Every Sudoku has a unique solution that can be reached logically. Enter numbers into the blank spaces so that each row, column and 3x3 box contains the numbers 1 to 9.</p>
		</div>
		
		<div id="puzzle-container">
			
			<div id="hint">
				<div id="talks">
				</div>
				<div id="avatar">
				</div>
			</div>
						
			<div id="puzzle">
				<%9.times do |i| @j = i %>
					<%= render :partial => 'puzzle/cell' %>	
					<% if 2 == @j % 3 %> 
						<div class="clear"></div>
					<% end %>
				<%end%>
				<div id="numSelector">
					<%9.times do |i| %>
						<div class="cell num-cell"><%= i + 1 %></div>
					<%end%>
					<div class="num-eraser">x Clear Number</div>
				</div>
			</div>
			
		</div><!--#puzzle-container>
	</div><!--#main-->
</div><!--#container-->


