// Place all the styles related to the puzzle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
blockquote {
  quotes: none;
}
blockquote:before, blockquote:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden; 
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */


/* =Structure
----------------------------------------------- */
html,body,#container,#header,#top-nav {
  width:100%;
}
#container {
  text-align:center;
}
#main,#header {
  width:1000px;
  margin:0 auto;
}
#header {
  position:relative;

}
#logo {
  position:absolute;
  top:-35px;
  left:0;
}
#menu {
  margin-top:20px;
}
body {
  background:url(mainbg.jpg);
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:14px;
}
a { color:#b62b21; text-decoration:none; }
a:hover,a:focus,a:active {color:#006668;}
#contact {
  text-align:left;
  width:880px;
  padding-left:120px;
  margin:0 auto;
}
#contact a {
  margin-right:20px;
  display:inline-block;
}
#top-nav {
  background:url(topnavbg.png) repeat-x;
  padding:8px 0;
  height:24px;
  line-height:24px;
}
#subscribe {
  padding:0 20px;
  float:right;
}
#subscribe-ipt {
  background:url(mainbg.jpg);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border:none;
  padding:3px 1px 3px 3px;
  margin-right:8px;
  height:20px;
  font-family:Georgia, "Times New Roman", Times, serif;
  color:#9a9485;
  width:150px;
}
#menu {
  border-left:1px dashed #878787;
  float:right;
}
#menu li {
  float:left;
  display:inline;
}
#menu-blog,#menu-contact,#menu-home,#menu-work {
  display:block;
  width:135px;
  height:70px;
  padding-top:15px;
  border-right:1px dashed #878787;
  color:#000;
  
}
#menu-blog span,#menu-contact span,#menu-home span,#menu-work span {
  background:url(menuicons.png) no-repeat left top;
  display:block;
  width:40px;
  padding-top:40px;
  margin:0 auto 10px;
}
#menu-home:hover span,#menu-home:active span,#menu-home:focus span,#menu-home.current span {background-position:-160px top;}

#menu-work span {background-position:-40px top;}
#menu-work:hover span,#menu-work:active span,#menu-work:focus span,#menu-work.current span {background-position:-200px top;}

#menu-contact span {background-position:-80px top;}
#menu-contact:hover span,#menu-contact:active span,#menu-contact:focus span,#menu-contact.current span {background-position:-240px top;}

#menu-blog span {background-position:-120px top;}
#menu-blog:hover span,#menu-blog:active span,#menu-blog:focus span,#menu-blog.current span {background-position:-280px top;}

#soduku-description {
  position:relative;
  padding:80px 60px 20px 380px;
  margin-top:20px;
  height:110px;
  background:url(dot.png) repeat-x left bottom;
  text-align:left;
  font-size:20px;
  line-height:1.6em;
  text-shadow:1px 1px 1px #FFF;
}
#soduku-description p{
  position: relative;
  z-index: 100;
}
#soduku-title {
  background:url(sodukutitle.png) no-repeat left top;
  height:201px;
  width:502px;
  text-indent:-9999px;
  position: absolute;
  left:30px;
  top:0;
}

#share-buttons {
  position:absolute;
  right:0;
  top:8px;
}
#puzzle-container {
  padding:20px 0;
  position:relative;
  display:none;
}
#powerBy {
  position:absolute;
  right:60px;
  bottom:20px;
  text-align:left;
  background:url(powerby.png) no-repeat;
  width:200px;
  padding-top:8px;
  font-family:'Indie Flower';
  font-size:16px;
  line-height:27px;
}
#avatar {
  background:url(seemeloo-racoon.png) no-repeat left top;
  position:relative;
  left:180px;
  width:250px;
  height:300px;
}

#hint {
  position:absolute;
  left:0;
  top:0;
}
#talks {
  width:160px;
  height:100px;
  padding: 40px 30px;
  margin-bottom:-35px;
  text-align: center;
  font-family:'Indie Flower';
  font-size:24px;
  line-height:1.1em;
  position:relative;
  left:60px;
  top:30px;
}
.talking {
    background:url(bubble.png) no-repeat;
}
#puzzle {
	
  width: 372px;
  margin : 20px auto;
  border-style:solid;
  border-width:2px 0 0 2px;
  border-color:#000;
  position:relative;
  background:url(mainbg.jpg);
  
}
.cell,.cells,.num-eraser{
    border-style:solid;
    border-width:0 1px 1px 0;
    border-color:#000;
}
.cells {
    
    text-align:center;
    float:left;
    display:inline-block;

    width: 123px;
    height:123px;
}
.cell {
    width:30px;
    height:30px;
    padding:5px;
    line-height:30px;
    float:left;
    display:inline-block;
    font-size:20px;
}
.fix {
  text-shadow:1px 1px 1px #FFF;
}
.unknown {
  background:#FFF;
  cursor:pointer;
  font-family:'Indie Flower';
  font-size:28px;

}

.errorCell {
  color:#C00;
}
.relativeCells {
  background:url(currentcellbg.png);
}
#numSelector {
  border-style:solid;
  border-width:1px 0 0 1px;
  border-color:#000;
    
  width:123px;
  background:url(mainbg.jpg);
  position:absolute;
  left:0;
  top:0;
  z-index:100;
  display:none;

  -moz-box-shadow: 1px 1px 5px #322f27;
  -webkit-box-shadow: 1px 1px 5px #322f27;
  box-shadow: 1px 1px 5px #322f27;
}
.num-cell,.num-eraser {
  cursor:pointer;
}
.num-cell {
  font-family:'Indie Flower';
  font-size:24px;
}
.num-eraser {
  padding:5px 0;
  height:25px;
  line-height:25px;
  width:122px;
  float:left;
}
.num-cell:hover,.num-eraser:hover {
  background:url(currentcellbg.png) repeat-x left -40px;
}
#footer {
  background:url(topnavbg.png);
  padding-bottom:20px;
}
#footer-top {
  background:url(footer-top.png) repeat-x;
  height:24px;
}
#footer-container {
  background:url(footer-btm.png) left bottom repeat-x;
  text-align:center;
}
#footer-warpper {
  width:1000px;
  margin:0 auto;
  padding:20px 0;
  text-shadow:1px 1px 0 #000;
  color:#d8caa2;
}
#footer-logo {
  float:left;
  display:inline;
  padding:5px 30px 0 0;
  p{
    font-size:16px;
    padding:10px 0;
  }
}
#whatWeCanDo {
  float:left;
  display:inline;
  list-style:disc inside;
  text-align:left;
  line-height:1.8em;
}
#whatWeCanDo em {
  color:#cc0000;
}
