// Place all the styles related to the puzzle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here|Over+the+Rainbow|Delius+Unicase);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
blockquote {
  quotes: none;
}
blockquote:before, blockquote:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden; 
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */


/* =Structure
----------------------------------------------- */
html,body,#container,#header,#top-nav {
  width:100%;
}
#container {
  text-align:center;
}
#main,#header {
  width:1000px;
  margin:0 auto;
}
#logo {
  margin-top:-36px;
  padding:10px 90px 0 0;
}
#menu {
  margin-top:20px;
}
#logo,#menu {
  float:left;
  display:inline;
}
body {
  background:url(../images/mainbg.jpg);
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size:14px;
}
a { color:#b62b21; text-decoration:none; }
a:hover,a:focus,a:active {color:#006668;}

#top-nav {
  background:url(../images/topnavbg.png) repeat-x;
  height:36px;
}
#subscribe {
  padding:5px 20px;
  float:right;
}
#menu {
  border-left:1px dashed #878787;
}
#menu li {
  float:left;
  display:inline;
}
#menu-blog,#menu-contact,#menu-home,#menu-work {
  display:block;
  width:135px;
  height:70px;
  padding-top:15px;
  border-right:1px dashed #878787;
  color:#000;
  
}
#menu-blog span,#menu-contact span,#menu-home span,#menu-work span {
  background:url(../images/menuicons.png) no-repeat left top;
  display:block;
  width:40px;
  padding-top:40px;
  margin:0 auto 10px;
}
#menu-home:hover span,#menu-home:active span,#menu-home:focus span,#menu-home.current span {background-position:-160px top;}

#menu-work span {background-position:-40px top;}
#menu-work:hover span,#menu-work:active span,#menu-work:focus span,#menu-work.current span {background-position:-200px top;}

#menu-contact span {background-position:-80px top;}
#menu-contact:hover span,#menu-contact:active span,#menu-contact:focus span,#menu-contact.current span {background-position:-240px top;}

#menu-blog span {background-position:-120px top;}
#menu-blog:hover span,#menu-blog:active span,#menu-blog:focus span,#menu-blog.current span {background-position:-280px top;}

#soduku-description {
  position:relative;
  padding:60px 40px 20px 350px;
  margin-top:20px;
  height:110px;
  background:url(../images/dot.png) repeat-x left bottom;
  text-align:left;
  font-size:20px;
  line-height:1.5em;
  text-shadow:1px 1px 1px #FFF;
}
#soduku-description p{
  position: relative;
  z-index: 100;
}
#soduku-title {
  background:url(../images/sodukutitle.png) no-repeat left top;
  height:201px;
  width:502px;
  text-indent:-9999px;
  position: absolute;
  left:0;
  top:0;
}

#share-buttons {
  position:absolute;
  right:0;
  top:25px;
}
#puzzle-container {
  padding:20px 0;
  position:relative;
}
#avatar {
  background-image: url('seemeloo-racoon.png');
  width:300px;
  height:300px;
}

#hint {
  position:absolute;
  left:0;
  top:0;
}
#talks {
  background-image: url('bubble_thought_s.gif');
  width:200px;
  height:100px;
  font-size:18px;
  line-height:18px;
  padding-top: 50px;
  text-align: center;
  
}
#puzzle {
	
  width: 363px;
  margin : 20px auto;
  border:2px solid #000;
  overflow:hidden;
}
.cells {
    
    text-align:center;
    float:left;
    display:inline-block;
    border:1px solid #000;
    width: 120px;
    height:120px;
    border:1px solid #000;
    margin:-1px 0 0 -1px;
}
.fix {
  width:30px;
  height:30px;
  padding:5px;
}
.unknown {
  width:40px;
  height:40px;
  input {
        width :38px;
        height:38px;
        border:1px dotted #878787;
  }
}
.cell {

      line-height:30px;
      float:left;
      display:inline-block;
      font-family:'Over the Rainbow';
      font-size:18px;

}