<!DOCTYPE html>
<html>
<head>
  <title>Sudoku ｜ Seemeloo Web Games</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "/javascripts/date" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
